@font-face {
  font-family: 'Lato';
  src: url('../asset/font/Lato.ttf');
  font-weight: normal;
}

@font-face {
  font-family: 'Lato';
  src: url('../asset/font/Lato-Black.ttf');
  font-weight: bold;
}

@font-face {
  font-family: "MavenProRegular";
  src: url('../asset/font/MavenPro-Regular.ttf');
}
