$backgroundBlack: rgb(50, 50, 50);
$backgroundAcrylic: rgb(46, 179, 152);
$backgroundWhite: rgb(255, 255, 255);
$textProfileWhite: rgb(215, 252, 245);
$textProfileGreen: rgb(32, 129, 109);
$textConnectionWhite: rgb(224, 224, 224);
$textConnectionGray: rgb(190, 190, 190);
$backgroundInput: rgb(69, 69, 69);
$backgroundFooter: rgb(34, 34, 34);
$borderWhite: rgb(228, 233, 235);
$switch: rgb(221, 210, 197);
$switchActive: rgb(139, 135, 132);
$borderGreen: rgb(33, 157, 132);
$borderBlack: rgb(43, 43, 43);
$link: rgb(165, 219, 212);
$linkActive: rgb(108, 203, 190);
$contact: rgb(46, 179, 152);
$linkWhite: rgb(153, 204, 204);


body {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
}

header {
  width: 100%;
  font-family: 'Lato', sans-serif;
  background-color: $backgroundBlack;
  height: 63px;
  display: flex;
  justify-content: center;

  &:before{
    content: "";
    border-style: solid;
    border-width: 51.5px 90px 0 90px;
    border-color: $backgroundBlack transparent transparent transparent;
    position: absolute;
    top: 38px;
  }

  .innerHeader {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    padding: 0 15px;

    .links {
      flex-basis: 20%;
      flex-grow: 1;
      display: flex;
      z-index: 102;
      align-items: center;
      position: relative;

      &:before{
        content: "";
        position: absolute;
        bottom: -10px;
        border-bottom: 1px solid $borderWhite;
        width: 100%;
      }

      .indent {
        margin-right: 12px;
      }

      h1 {
        display: flex;
        justify-content: center;
        margin: 0;
      }

      .nav-link {
        text-decoration: none;
        color: $backgroundWhite;
        font-size: 10px;
      }

      .active {
        color: $backgroundAcrylic;
      }
    }

    .before {
      justify-content: flex-end;
    }

    .logo {
      display: flex;
      justify-content: center;
      z-index: 102;
      height: 74px;
      align-items: center;
      margin: 0 15px;

      .logoImg {
        height: 55px;
        width: 64px;
      }
    }
  }
}

main {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  .portfolio {
    display: flex;
    flex-direction: column;
    margin: 10px 15px;
    padding: 20px 0;
    position: relative;
    border-bottom: 1px solid $borderWhite;

    .rowImg {
      display: flex;
      justify-content: center;

      .portfolioImg {
        width: 20%;
        max-width: 200px;
        height: auto;
      }
    }

    .top {
      transform: translateY(18%);
    }

    .bottom {
      transform: translateY(-18%);
    }

    .switchesWrapper {
      display: flex;
      padding: 12px 0;
      margin: 0 5px;
      position: absolute;
      bottom: 0;

      .switch {
        width: 6px;
        height: 6px;
        background-color: $switch;
        margin-right: 3px;
      }

      .active-switch {
        background-color: $switchActive;
      }
    }

  }

  .profile {
    display: flex;
    background-color: $backgroundAcrylic;
    align-items: center;
    justify-content: center;
    padding: 20px;


    .innerProfile {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 0 20px;
      border-left: 1px solid $borderGreen;
      border-right: 1px solid $borderGreen;

      .photo {
        width: 50%;
        max-width: 180px;
        height: auto;
      }

      .text {
        display: flex;
        flex-direction: column;
        font-family: "MavenProRegular", sans-serif;

        .name {
          font-size: 28px;
          color: $textProfileWhite;
          line-height: 100%;
          text-align: center;
          margin: 8px 0;
        }

        .profession {
          color: $textProfileGreen;
          line-height: 100%;
          text-align: center;
        }

        .desc {
          font-family: 'Lato', sans-serif;
          color: $textProfileWhite;
          text-align: justify;
          margin: 16px 0;
          font-size: 14px;
          flex-grow: 1;
        }

        .messengers {
          display: flex;
          justify-content: flex-end;
          margin-top: 16px;

          .linkMessenger {
            height: 24px;
            width: 24px;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: $linkWhite;

            .linkImg {
              fill: $backgroundAcrylic;
              width: 12px;
              height: auto;
            }

            &:hover {
              background-color: $link;
            }

            &:active {
              background-color: $linkActive;
            }
          }

        }
      }
    }
  }
}

.getInTouch {
  padding: 13px 20px;
  background-color: $backgroundBlack;

  .innerGetInTouch {
    border-top: 1px solid $borderBlack;
    border-bottom: 1px solid $borderBlack;
    padding: 50px 0;

    .headerGetInTouch {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-bottom: 10px;

      .title, .subtitle {
        font-family: "MavenProRegular", sans-serif;
        text-align: center;
      }

      .title {
        font-size: 30px;
        color: $textConnectionWhite;
        line-height: 100%;
      }

      .subtitle {
        font-size: 18px;
        color: $textConnectionGray;
      }
    }

    .footerGetInTouch {
      display: flex;
      flex-direction: column;
      justify-content: center;

      .formWrapper {
        form {
          display: flex;
          flex-direction: column;
          margin-top: 16px;

          .formItem {
            font-family: 'Lato', sans-serif;
            font-size: 12px;
            color: $textConnectionGray;
            background-color: $backgroundInput;
            border: 0;
            padding: 17px 13px;
            margin-bottom: 8px;
          }

          textarea {
            height: 130px;
            resize: none;
          }
        }

        .buttonWrapper {
          display: flex;
          justify-content: flex-end;
        }

        .sendBtn {
          font-size: 12px;
          padding: 11px 30px;
          background-color: $backgroundAcrylic;
          color: $textProfileWhite;
          border: 0;

          &:hover {
            background-color: $borderGreen;
          }

          &:active {
            background-color: $textProfileGreen;
          }
        }
      }

      .info {
        font-family: 'Lato', sans-serif;
        color: $textConnectionGray;
        text-align: justify;
        hyphens: auto;
        display: flex;
        flex-direction: column;
        margin-top: 16px;
        font-size: 10px;
        line-height: 140%;

        .bolder {
          font-weight: bold;
          color: $textConnectionWhite;
        }

        .contacts {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          margin-top: 16px;
          flex-wrap: wrap;

          a {
            text-decoration: none;
            display: flex;
            align-items: center;
            color: $textConnectionGray;
            margin: 8px;

            .contactsIcon {
              height: 12px;
              width: 12px;
              margin-right: 10px;
              fill: $contact;
            }
          }
        }
      }
    }
  }
}

footer {
  width: 100%;

  .innerFooter {
    padding: 14px 20px;
    background-color: $backgroundFooter;
    font-family: "MavenProRegular", sans-serif;
    color: $backgroundInput;
    font-size: 12px;
    display: flex;
  }
}

@media (min-device-width: 576px) {

  header {
    .innerHeader {
      .logo {
        margin: 0 38px;
      }

      .links {
        .indent {
          margin-right: 24px;
        }
      }
    }
  }
}

@media (min-device-width: 768px) {
  header{
    .innerHeader{
        padding: 0 30px;
    }
  }

  main{
    .portfolio{
      margin: 10px 30px;
    }

    .profile{
      .innerProfile{
        flex-direction: row;

        .photo{
          margin-right: 20px;
        }

        .text{
          height: 100%;
          .name{
            margin-top: 0;
            text-align: left;
          }

          .profession{
            text-align: left;
          }

          .messengers{
            margin: 0;
          }
        }
      }
    }
  }
}
