$backgroundBlack: rgb(50, 50, 50);
$backgroundAcrylic: rgb(46, 179, 152);
$backgroundWhite: rgb(255, 255, 255);
$textProfileWhite: rgb(215, 252, 245);
$textProfileGreen: rgb(32, 129, 109);
$textConnectionWhite: rgb(224, 224, 224);
$textConnectionGray: rgb(190, 190, 190);
$backgroundInput: rgb(69, 69, 69);
$backgroundFooter: rgb(34, 34, 34);
$borderWhite: rgb(228, 233, 235);
$switch: rgb(221, 210, 197);
$switchActive: rgb(139, 135, 132);
$borderGreen: rgb(33, 157, 132);
$borderBlack: rgb(43, 43, 43);
$link: rgb(165, 219, 212);
$linkActive: rgb(108, 203, 190);
$contact: rgb(46, 179, 152);
$linkWhite: rgb(153, 204, 204);
$maxWidthContent1: 1020px;
$maxWidthContent2: 820px;
