$base: rgb(50, 50, 50);
$background_2: rgb(46, 179, 152);
$background: rgb(255, 255, 255);
$text-profile: rgb(215, 252, 245);
$text-profile-2: rgb(32, 129, 109);
@font-face {
  font-family: 'Lato';
  src: url('./assets/font/Lato.ttf');
}

@font-face {
  font-family: "MavenProRegular";
  src: url('./assets/font/MavenPro-Regular.ttf');
}

body {
  font-family: 'Lato', sans-serif;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

header {
  padding-top: 9px;
  font-family: 'Lato', sans-serif;
  background-color: $base;
  height: 54px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1020px;

  .link {
    flex-basis: 20%;
    flex-grow: 1;
    display: flex;
    z-index: 102;

    a {
      text-decoration: none;
      color: $background;
      font-size: 10px;
    }

    a.active {
      color: $background_2;
    }

    .indent {
      padding-right: 24px;
    }
  }

  .before {
    justify-content: flex-end;
  }

  .after {
    justify-content: flex-start;
  }

  .logo {
    display: flex;
    justify-content: center;
    flex-basis: 139px;
    z-index: 102;
  }
}

.pointy-thingy {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 51.5px 90px 0 90px;
  border-color: $base transparent transparent transparent;
  position: absolute;
  top: 38px;
  z-index: 101;
}

.portfolio {
  display: flex;
  flex-direction: column;
  height: 721px;
  justify-content: center;

  div {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .top {
    position: relative;
    top: 38.5px;
  }

  .bottom {
    position: relative;
    bottom: 38px;
  }

}

.img {
  width: 180px;
  height: 206px;
  margin-right: 10px;
  margin-left: 10px;
}

.profile {
  display: flex;
  flex-direction: row;
  background-color: $background_2;
  height: 342px;
  align-items: center;
  justify-content: center;
  width: 1020px;

  .img {
    margin-right: 20px;
    margin-left: 20px;
  }

  .text {
    display: flex;
    flex-direction: column;
    width: 580px;
    height: 206px;
    margin-right: 20px;

    .name {
      font-size: 28.5px;
      font-family: "MavenProRegular", sans-serif;
      color: $text-profile;
      line-height: 0.7;
    }

    .profession {
      font-size: 18px;
      font-family: "MavenProRegular", sans-serif;
      color: $text-profile-2;
      line-height: 2.15;
    }

    .description {
      font-size: 11.5px;
      font-family: 'Lato', sans-serif;
      color: $text-profile;
      line-height: 2.1;
      letter-spacing: 0.058px;
    }

    .messengers {
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      align-items: flex-end;
      flex-grow: 1;

      a {
        div {
          height: 24px;
          width: 24px;
          background-color: $text-profile;

          svg {
            height: 12px;
            width: 12px;
            margin: 6px;
          }
        }

        &:visited {
          div {
            background-color: darken($text-profile, 20);
          }
        }

        &:hover {
          div {
            background-color: darken($text-profile, 10);
          }
        }

        &:active {
          div {
            background-color: darken($text-profile, 30);
          }
        }
      }
    }

    .icon {
      fill: $background_2;
    }

  }
}