$backgroundBlack: rgb(50, 50, 50);
$backgroundAcrylic: rgb(46, 179, 152);
$backgroundWhite: rgb(255, 255, 255);
$textProfileWhite: rgb(215, 252, 245);
$textProfileGreen: rgb(32, 129, 109);
$textConnectionWhite: rgb(224, 224, 224);
$textConnectionGray: rgb(190, 190, 190);
$backgroundInput: rgb(69, 69, 69);
$backgroundFooter: rgb(34, 34, 34);
$borderWhite: rgb(228, 233, 235);
$switch: rgb(221, 210, 197);
$switchActive: rgb(139, 135, 132);
$borderGreen: rgb(33, 157, 132);
$borderBlack: rgb(43, 43, 43);
$link: rgb(165, 219, 212);
$linkActive: rgb(108, 203, 190);
$contact: rgb(46, 179, 152);

@font-face {
  font-family: 'Lato';
  src: url('./assets/font/Lato.ttf');
  font-weight: normal;
}

@font-face {
  font-family: 'Lato';
  src: url('./assets/font/Lato-Black.ttf');
  font-weight: bold;
}

@font-face {
  font-family: "MavenProRegular";
  src: url('./assets/font/MavenPro-Regular.ttf');
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
}

header {
  width: 100%;
  font-family: 'Lato', sans-serif;
  background-color: $backgroundBlack;
  height: 63px;
  display: flex;
  justify-content: center;

  .content {
    display: flex;
    justify-content: center;

    .link, h1 {
      flex-basis: 20%;
      flex-grow: 1;
      display: flex;
      z-index: 102;
      height: 74px;
      align-items: center;
      border-bottom: 1px solid $borderWhite;

      a, a h1 {
        text-decoration: none;
        color: $backgroundWhite;
        font-size: 10px;
      }

      a.active, a.active h1 {
        color: $backgroundAcrylic;
      }
    }

    .before {
      justify-content: flex-end;
    }

    .logo {
      display: flex;
      justify-content: center;
      z-index: 102;
      height: 74px;
      align-items: center;
    }

    .pointy-thingy {
      border-style: solid;
      border-width: 51.5px 90px 0 90px;
      border-color: $backgroundBlack transparent transparent transparent;
      position: absolute;
      top: 38px;
    }
  }
}

main {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  .portfolio {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    align-items: center;

    div {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .top, .bottom {
      position: relative;
      border-left: 1px solid $borderWhite;
      border-right: 1px solid $borderWhite;
      padding: 0 10px;
    }

    .slide-switches {
      position: absolute;
      display: flex;
      justify-content: flex-start;
      bottom: 11px;
      width: 100%;

      .switches {
        margin: 0 30px;
        padding-bottom: 11px;
        border-bottom: 1px solid $borderWhite;
        flex-grow: 1;
        justify-content: flex-start;

        .switch {
          margin-right: 3px;
          width: 6px;
          height: 6px;
          background-color: $switch;
        }

        .active-switch {
          background-color: $switchActive;
        }
      }
    }
  }

  .profile {
    display: flex;
    background-color: $backgroundAcrylic;
    justify-content: center;
    padding: 20px 0;
    width: 100%;

    .content {
      display: flex;
      justify-content: center;

      .photo, .text {
        display: flex;
      }

      .photo {
        justify-content: center;
        align-items: center;
        border-left: 1px solid $borderGreen;
      }

      .text {
        justify-content: center;
        flex-direction: column;
        border-right: 1px solid $borderGreen;
        max-width: 580px;

        .name {
          font-size: 28.5px;
          font-family: "MavenProRegular", sans-serif;
          color: $textProfileWhite;
          word-spacing: 3px;
        }

        .profession {
          font-family: "MavenProRegular", sans-serif;
          color: $textProfileGreen;
        }

        .description {
          font-family: 'Lato', sans-serif;
          color: $textProfileWhite;
          text-align: justify;
          -webkit-hyphens: auto;
          -moz-hyphens: auto;
          -ms-hyphens: auto;
          hyphens: auto;
        }

        .messengers {
          display: flex;
          justify-content: flex-end;
          padding-bottom: 10px;

          button {
            height: 24px;
            width: 24.5px;
            border: 0;

            svg {
              height: 12px;
              width: 12px;
            }

            &:hover {
              background-color: $link;
            }

            &:active {
              background-color: $linkActive;
            }
          }
        }

        .icon {
          fill: $backgroundAcrylic;
        }
      }
    }
  }
}

.get-in-touch {
  width: 100%;
  padding: 13px 0;
  display: flex;
  flex-direction: column;
  background-color: $backgroundBlack;

  .header-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-top: 1px solid $borderBlack;
    padding-top: 50px;

    .heading, .subtitle {
      font-family: "MavenProRegular", sans-serif;
    }

    .heading {
      font-size: 30px;
      color: $textConnectionWhite;
      line-height: 1;
      word-spacing: 1px;
    }

    .subtitle {
      font-size: 18px;
      color: $textConnectionGray;
    }
  }

  .bot {
    display: flex;
    justify-content: center;
    flex-grow: 1;
    padding-top: 10px;
    padding-bottom: 43px;
    border-bottom: 1px solid $borderBlack;

    .forms, .button {
      form {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        height: 100%;

        input, textarea {
          font-family: 'Lato', sans-serif;
          font-size: 12px;
          color: $textConnectionGray;
          background-color: $backgroundInput;
          border: 0;
        }

        input, textarea {
          padding: 17px 13px;
        }

        input {
          height: 5px;
        }

        textarea {
          padding: 10px 17px;
          height: 130px;
          resize: none;
        }
      }

      .button {
        display: flex;
        justify-content: flex-end;
      }

      button {
        font-family: 'Lato', sans-serif;
        font-size: 12px;
        width: 90px;
        height: 37px;
        background-color: $backgroundAcrylic;
        color: $textProfileWhite;
        border: 0;
      }
    }

    .info {
      padding-left: 20px;
      padding-top: 2px;
      font-family: 'Lato', sans-serif;
      font-size: 12px;
      color: $textConnectionGray;
      line-height: 1.88;
      text-align: justify;
      -webkit-hyphens: auto;
      -moz-hyphens: auto;
      -ms-hyphens: auto;
      hyphens: auto;

      span {
        .bolder {
          font-weight: bold;
          color: $textConnectionWhite;
        }
      }

      .contacts {
        margin-top: 33px;

        a {
          text-decoration: none;
          display: flex;
          flex-direction: row;
          align-items: center;
          color: $textConnectionGray;

          svg {
            height: 12px;
            width: 12px;
            margin-right: 10px;

            .item {
              fill: $contact;
            }
          }
        }
      }
    }
  }
}

footer {
  width: 100%;
  height: 43px;
  background-color: $backgroundFooter;
  font-family: "MavenProRegular", sans-serif;
  color: $backgroundInput;
  font-size: 12px;
  display: flex;
  align-items: center;
  justify-content: center;

  span {
    padding-left: 79px;
  }
}

@media (max-device-width: 576px) {
  header .content, main .portfolio, .profile .content, footer span {
    width: 320px;
  }

  header {
    .content {
      .logo {
        width: 100px;
      }

      .link {
        .indent {
          padding-right: 5px;
        }
      }
    }
  }

  .heading, .subtitle {
    width: 287.62px;
  }

  .forms, .button {
    width: 160px;
  }
  .info {
    width: 120.825px;
  }
  main .portfolio {
    height: 300px;

    .top, .bottom {
      height: 31.28px;
    }

    .top {
      bottom: 6px;
    }

    .bottom {
      top: 6px;
    }
  }
  .profile {
    .photo {
      width: 100px;

      img {
        height: 120px;
      }
    }

    .text {
      font-size: 12px;
      padding-right: 10px;

      .description {
        padding-bottom: 10px;
      }

      .profession {
        font-size: 18px;
        word-spacing: 0.01px;
        letter-spacing: 0;
        padding-bottom: 14px;
      }
    }
  }

  main .portfolio .img {
    margin: 0 4px;
    width: 54.675px;
  }

  main div img {
    height: 62.5725px;
  }

  .profile {
    .content {
      .photo {
        padding: 0 6px;
      }
    }
  }

}

@media (min-device-width: 576px) {
  header .content, main .portfolio, .profile .content, footer span {
    width: 540px;
  }

  header {
    .content {
      .logo {
        width: 139px;
      }

      .link {
        .indent {
          padding-right: 24px;
        }
      }

      .after {
        margin-right: 30px;
      }

      .before {
        margin-left: 30px;
      }
    }
  }

  .get-in-touch {
    height: 500px;
  }

  .heading, .subtitle {
    width: 433.81px;
  }

  .forms, .button {
    width: 293.625px;
  }

  .info {
    width: 120.825px;
  }

  main .portfolio {
    height: 450px;

    .top, .bottom {
      height: 52.14px;
    }

    .top {
      bottom: 6px;
    }

    .bottom {
      top: 6px;
    }
  }

  main .portfolio .img {
    margin: 0 4px;
    width: 91.125px;
  }

  .profile {
    .photo {
      width: 100px;
    }

    .text {
      font-size: 12px;
      line-height: 1.8;
      padding-bottom: 39px;
      padding-right: 20px;

      .profession {
        font-size: 18px;
        word-spacing: 0.01px;
        letter-spacing: 0;
        padding-bottom: 14px;
      }
    }
  }

  main div img {
    height: 104.2875px;
  }
}

@media (min-device-width: 768px) {
  header .content, main .portfolio, .profile .content, footer span {
    width: 740px;
  }

  .heading, .subtitle {
    width: 634px;
  }

  .forms, .button {
    width: 435px;
  }

  .info {
    width: 179px;
  }

  main .portfolio {
    height: 600px;

    .top, .bottom {
      height: 77.25px;
    }

    .top {
      bottom: 25px;
    }

    .bottom {
      top: 25px;
    }
  }

  .profile {
    .photo {
      width: 180px;
    }
  }

  main .portfolio .img {
    margin: 0 5px;
    width: 135px;
  }

  main div img {
    height: 154.5px;
  }

}

@media (min-device-width: 992px) {
  header .content, main .portfolio, .profile .content, footer span {
    width: 920px;
  }

  .get-in-touch {
    height: 538px;
  }

  .heading, .subtitle {
    width: 780px;
  }

  .forms, .button {
    width: 580px;
  }

  .info {
    width: 179px;
  }

  main .portfolio {
    height: 700px;

    .top, .bottom {
      height: 104px;
    }

    .top {
      bottom: 13px;
    }

    .bottom {
      top: 13px;
    }
  }

  main .portfolio .img {
    margin: 0 8px;
    width: 180px;
  }

  main div img {
    height: 206px;
  }

  .profile {
    .content {
      .photo {
        padding: 0 10px;
      }
    }
  }
}

@media (min-device-width: 1200px) {
  header .content, main .portfolio, .profile .content, footer span {
    width: 1020px;
  }

  .info {
    width: 179px;
  }

  main .portfolio {
    height: 721px;

    .top, .bottom {
      height: 104px;
    }
  }

  main .portfolio .img {
    margin: 0 10px;
  }

  .profile {
    .content {
      .photo {
        padding: 0 20px;
      }
    }
  }
}